@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Weather App!</h1>
</div>

<div class="text-center mt-4">
    <form>
        <input type="text" class="form-control d-inline-block w-75" placeholder="Input your city here!" style="max-width: 300px;" />
        <button type="submit" class="btn btn-primary ml-2">Search</button>
    </form>
</div>
</div>
