@page
@model IndexModel
@{
    ViewData["Title"] = "Search";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Weather App!</h1>
</div>

<div id="popupModal" class="popup-modal">
    <div class="popup-content">
        <span id="closePopup" class="close-button"></span>
        <p>Welcome to the Weather App! This is created by Lui Contreras for the Final Dissertation in the MSc Computer Science course.</p>
        <button class="close-button">Close message</button>
    </div>
</div>

<div class="d-flex justify-content-center" style="width: 100%;">
    <div class="position-relative mt-3" style="display: inline-block; width: 100%; max-width: 700px; margin-left: auto; margin-right: auto;">
        <img src="/Images/Main/20250401_190146.jpg" alt="London Skyline Sunny Weather" style="max-width: 100%; width: 100%; height: auto; margin-bottom: 20px; box-shadow: 0 2px 8px rgba(0,0,0,0.12);" />
        <form method="post" style="position: absolute; top: 10%; left: 50%; transform: translate(-50%, 0); width: 80%; background: rgba(255,255,255,0.85); padding: 12px 16px; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.10);">
            <input asp-for="City" type="text" class="form-control d-inline-block w-100" placeholder="Input city here!" style="max-width: 850px;"/>
            <button type="submit" class="center-button">Search</button>
        </form>
    </div>
</div>
<p style="text-align:left; margin-top: 20px; color:black;">Image of Greenwich Park (Lui Contreras, 2025)</p>
@if (Model.Weather != null)
{
    <div class="mt-3 text-center">
        <strong>@Model.Weather.City</strong>: @Model.Weather.WeatherDescription, @Model.Weather.Temps&nbsp;°C
    </div>
}