@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<!--TODO: Will add privacy info and how to contact researcher for this project-->
<p>No info yet</p>
