@page "{city}"
@model WeatherWebAppLuiC.Pages.WeatherResultModel

<h2>Weather Overview</h2>

@if (Model.Weather != null)
{
    <img src="~/Images/Main/@($"{Model.Weather.WeatherNow}.png")" alt="Current Weather Icon" />
    <p>@Model.Weather.City</p>
    <p>@Model.Weather.WeatherDescription</p>
    <p>@Model.Weather.Temps °C</p>
}
else
{
    <div>
        Weather information not found. Please return to home page: 
        <a href "/">Return Home</a>
    </div>
}

<div style="margin-top: 2em;">
    <a href="/">Return Home</a>
</div>