

.popup-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  text-align: center;
  border-radius: 8px;
  background-color: #fff;
}

.close-button {
  color: #000;
  font-size: 65%;
  cursor: pointer;
}

.center-button {
  width: 100px;
  height: auto;
  max-width: 65%;
  display: block;
  margin: 0.5rem auto;
  object-fit: contain;
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body {
  height: 100%;
  margin: 0;
}


body {
  padding-bottom: 60px;
}


body {
  background-image: linear-gradient(126.6deg, rgba(44,115,210,1) 3.4%, rgba(251,234,255,1) 127.9%);
  min-height: 100vh;
  background-attachment: fixed;
}


header, .navbar {
  position: relative;
  z-index: 3;
}

.navbar {
  background: linear-gradient(90deg, #EBF4F5, #B5C6E0) !important;
}


.hero-wrapper {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);

  height: calc(75vh - (var(--site-header-height, 70px) * 0.75));
  overflow: hidden;
  position: relative;
}

.hero-wrapper img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: flex-start; 
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 4vh; 
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

button-search {
  position: absolute;
}

.weather-icon {
  width: 100px;
  height: auto;
  max-width: 65%;
  display: block;
  margin: 0; 
  object-fit: contain;
  flex: 0 0 auto;
}

.hour-icon {
    width: 48px;
    height: 48px;
    object-fit: contain;
    margin: 0.5em 0;
}


.weather-summary {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.weather-text {
  flex: 1 1 auto;
}

.weather-table-icon-display {
  width: 25px;
  height: 25px;
  object-fit: contain;
}
