

.popup-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  text-align: center;
  border-radius: 8px;
  background-color: #fff;
}

.close-button {
  color: #000;
  font-size: 65%;
  cursor: pointer;
}

.center-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

button-search {
  position: absolute;
}

.weather-icon {
  width: 110px;
  height: auto;
  max-width: 71.5%;
  display: block;
  margin: 0 auto;
}

.weather-table-icon-display {
  width: 27.5px;
  height: 27.5px;
  object-fit: contain;
}


